/* Global values */

:root {
    --yellow: #DEE208;

    /* CSS HEX */
    --black: #000000ff;
    --aureolin: #ECE90Eff;
    --jonquil: #FFD000ff;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Urbanist, Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/images/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-position: center;
}

h1 {
    font-family: Shrikhand, Urbanist, Verdana, Geneva, Tahoma, sans-serif;
}

header {
	position: relative;
	display: grid;
	background-color: var(--aureolin);
	padding: 10px;
	font-size: 1.5rem;
}

footer {
    background-color: var(--aureolin);
    margin-top: auto;
}



a:link,
a:visited {
    text-decoration: none; 
    color: inherit;
}

.logo {
	grid-column: 2;
	/* color: inherit; */
	justify-self: end;
}

.hamburger-icon {
	grid-row: 1;
}

nav {
    position: absolute;
    background: var(--aureolin);
    left: 0px;
}

nav a {
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
}


.logo-main{
    width: 90px;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
	display: block;
}

/* Main page */

.pre-btn, .nxt-btn{
    display: none;
}

.blog-card-main,
.blog-card-blogs {
    display: grid;
    justify-items: center;
    border-radius: 25px;
    margin: 10px 20px 40px;
    padding: 15px;
    border: 2px solid;
    background-color: #fff;
}

.h1-main {
    text-align: center;
    color: #fff;
}

/* Blog page */

.blog-card-blog {
    display: grid;
    justify-items: center;
    border-radius: 25px;
    margin: 10px 20px 40px;
    padding: 15px;
    border: 2px solid;
    background-color: #fff;
}


/* Contact page */

.main-contact {
    display: grid;
    justify-content: center;
    justify-items: center;
}

label {
    color: #fff;
}

input {
    font-size: inherit;
}

form {
    display:flex;
    flex-direction:column;
}

form span {
	font-size: 20px;
	margin-bottom: 10px;
	background-color: var(--aureolin);
	padding: 10px;
	border-radius: 10px;
}

.input-style {
	border-radius: 10px;
	padding: 5px 5px 5px 5px;

}

.input-message {
	padding-bottom: 200px;
}

.form-error {
    display: none;
    color: red;
    background: #000000;
}

span label {
	color: #fff;
	display: inline-block;
	min-width: 95px;
	background-color: black;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.submit-button {
	cursor: pointer;
	padding: 20px;
	border: 2px solid var(--aureolin);
	border-radius: 10px;
	background-color: var(--aureolin);
	font-family: Urbanist, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
    align-self: center;
}

@media (min-width: 300px) {
    
    .input-style {
        padding: 5px 100px 5px 5px;
    }
}


@media (min-width: 600px) {

    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        position:static; 
    } 

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }

    .pre-btn,
    .nxt-btn {
      border: none;
      width: 100px;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      
    }
    
    .pre-btn {  
        background: transparent;
      }
      
      .nxt-btn {
        right: 0;
        background: transparent;
      }

    
    .pre-btn img,
    .nxt-btn img {
      height: 6rem;
      opacity: 0.5;
    }
    
    .pre-btn:hover img,
    .nxt-btn:hover img {
      opacity: 1;
    }

    .blog-main {
        position: relative;
        overflow: hidden;
    }

    .blog-container {
        display:flex;
        overflow: hidden;
    }

    .blog-card-main {
        overflow: hidden;
        min-width: 450px;
    }

    .blogs-container {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-card-blogs {
        overflow: hidden;
        max-width: 250px;
        max-height: 250px;
    }
}