/* Global values */

* {
    box-sizing: border-box;
}

:root {
    --yellow: #DEE208;

    /* CSS HEX */
    --dark-gray: #292d25;
    --gray: #5b645c;
    --black: #000000ff;
    --aureolin: #ECE90Eff;
    --jonquil: #FFD000ff;
    --crt-green: #0F0;
    --silver: #c7c7c7;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Urbanist, Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../images/ScifiSpace.jpg);
    background-size: cover;
}

h1, h2 {
    font-family: Audiowide, Urbanist, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 45px;
}

nav {
	display: block;
	border: 4px solid var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
	background-image: linear-gradient(rgb(41, 45, 37) 50%, rgb(46, 50, 41) 50%);
	background-size: auto 4px;
	border-radius: 25px;
}

header {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 10px;
	font-size: 2rem;
	align-items: center;
}

footer {
    margin-top: auto;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--crt-green);
}

.blog-card {
    display: grid;
    justify-items: center;
    border-radius: 25px;
    padding: 15px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #292d25 50%, #2e3229 50%);
    background-size: auto 4px;
    gap: 0px 25px;
    position: relative;
    border: 4px solid var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
}



.blog-card:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: inherit;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 20px rgba(255, 255, 255, 0.3), inset 0 0 20px rgba(255, 255, 255, 0.3), inset 0 0 30px rgba(0, 0, 0, 0.5), inset 0 0 40px rgba(0, 0, 0, 0.5);
}

.blog-card-blogs h2, 
.blog-card-blogs p,
.blog-card-blogs span,
.blog-card-main h2,
.blog-card-main p,
.blog-card-main span {
    z-index: 2;
}

.blog-card-image {
	position: absolute;
	width: 33em;
	opacity: 0.2;
}

.logo {
	grid-column: 2;
	justify-self: end;
}

.hamburger-icon {
	grid-row: 1;
	color: var(--crt-green);
    cursor: pointer;
}

.hover-effect {
    opacity: 0.6;
    transition: 0.8s ease;
}

main {
    margin: 10px;
}

nav {
	position: absolute;
	right: 10px;
	top: 60px;
    z-index: 3;
}

nav a {
	display: block;
	padding: 10px 20px;
	font-size: 20px;
}

.error {
    font-size: 75px;
    color: #fff;
}

.logo-main {
	height: 54px;
}


nav {
    display: none;
}

.loader {
border: 16px solid #5b645c;
border-top: 16px solid var(--crt-green);
border-radius: 50%;
width: 220px;
height: 220px;
animation: spin 2s linear infinite;
margin: auto;
}

/* Main page */

.pre-btn, .nxt-btn{
    display: none;
}

.blog-main {
    display: grid;
}

.blog-card-main {
	margin: 10px 1% 40px;
	align-content: baseline;
	max-height: 400px;
    grid-template-columns: 1fr 1fr;
}

.blog-card-main h2, .blog-card-main p {
    grid-column: 1/3;
}

.h1-main {
	text-align: center;
	color: #fff;
	background-color: #000000;
	font-size: 45px;
}

.h1-card {
    border-radius: 25px;
    border: 2px solid #fff;
}

.black-background-fade {
	text-align: center;
	color: #fff;
	background-color: #000000;
	border-radius: 25px;
	padding: 10px;
	max-width: 61em;
	margin: auto auto;
	font-size: 20px;
}

.last-posts {
	color: var(--crt-green);
	font-size: 40px;
	justify-self: center;
	background: linear-gradient(#0000003d,#000,#000,#000,#000, #0000003d);
}

/* Blogs page */

.blog-card-blogs {
	margin: 10px 10px 40px;
}

.blog-card-blogs h2, 
.blog-card-blogs p {
    grid-column: 1/3;
}

.blogs-sortselect {
	display: grid;
	gap: 10px;
	margin: 30px 20px 15px 10px;
}

#load-more-btn,
.submit-button {
	cursor: pointer;
	padding: 20px;
	border: 4px solid var(--crt-green);
	border-radius: 10px;
	background-color: var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
	font-family: Chakra Petch, Urbanist, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25px;
	font-weight: 700;
	margin: 10px;
    color: var(--black);
}

#load-more-btn:hover,
.submit-button:hover {
    color: var(--crt-green);
    background-image: linear-gradient(to bottom, #292d25 50%, #2e3229 50%);
    background-size: auto 4px;
}

/* Blog page */

.blogs-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blog-card-blog {
	margin: 10px 20px 40px;
	position: relative;
	color: var(--crt-green);
	align-content: baseline;
	font-size: 20px;
}

.blog-card-blog h2,
.blog-card-blog p {
    grid-column: 1/3;
}

.blog-container-single {
    display:grid;
    gap: 15px;
}

.blog-image {
	max-width: 100%;
	cursor: pointer;
    border: 4px solid var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
    border-radius: 25px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: auto;
  }
  
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 70vw;
	transform: translate(-50%,-50%);
	max-height: 65vh;
}
  
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }

#search,
#author-select,
#sort-select {
    height: 35px;
    font-size: 15px;
}

/* Contact page */

.contact-form {
    display: grid;
    justify-content: center;
    justify-items: center;
}

label {
	color: #fff;
	background-color: black;
	font-size: 20px;
	font-weight: 500;
}

input {
    font-size: inherit;
}

form {
    display:flex;
    flex-direction:column;
}

form span {
	font-size: 20px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 4px solid var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
	background-image: linear-gradient(to bottom, #292d25 50%, #2e3229 50%);
	background-size: auto 4px;
}

.input-style {
	border-radius: 10px;
	padding: 5px 5px 5px 5px;

}

.input-message {
	border-radius: 10px;
	padding: 5px 5px 200px 5px;
}

.form-error {
    display: none;
    color: red;
    background: #000000;
}

span label {
	color: #fff;
	display: inline-block;
	min-width: 95px;
	background-color: black;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

/* About page */

.about-image {
	max-width: 100%;
    border: 4px solid var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
    border-radius: 25px;
    margin: 0px 0px 20px;
    grid-column: 1;
}

.blog-card-about {
	margin: 10px 20px 40px;
	color: var(--crt-green);
	align-content: baseline;
	font-size: 20px;
	grid-row: 2/5;
	grid-column: 2;
}

.h1-main-about {
	grid-column: 1/3;
}


@media (max-width: 400px) {
    .blog-card-main p,
    .blog-card-blogs p {
        display: none;
    }
}

@media (min-width: 400px) {

    .body-image-blog {
        background-image: url(../images/ScifiSpaceShip.jpg);
        background-position: top;
    }

    .input-style {
        padding: 5px 100px 5px 5px;
    }

    .input-message {
        padding: 5px 100px 200px 5px;
    }

    .blogs-sortselect {
        display: grid;
        grid-template-columns: auto auto;
    }

    .search-bar {
        grid-column: 1/3;
    }
}

@media (min-width: 700px) {
    nav {
        display: flex;
        position:static; 
    } 

    nav a {
        display: inline-block;
    }

    .about-image {
        margin: 10px 20px 0px;
    }

    .about-main {
        display:grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
    }

    .hamburger-icon {
        display: none;
    }

    .pre-btn,
    .nxt-btn {
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pre-btn {  
        background: transparent;
        margin-right: 20px;
      }
      
    .nxt-btn {
        right: 0;
        background: transparent;
        margin-left: 20px;
    }
    
    .pre-btn img,
    .nxt-btn img {
      height: 6rem;
      opacity: 0.7;
      transition: 0.3s ease;
    } 
    
    .pre-btn:hover img,
    .nxt-btn:hover img {
      opacity: 1;
    } 

    .blog-slider {
        position: relative;
        overflow: hidden;
        display: flex;
    }

    .blog-container {
        display: flex;
        overflow: hidden;
        border-radius: 10px;
    }

    .blog-card-main {
        min-width: 48%;
    }

    .blogs-container {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-card-blogs {
        max-width: 250px;
        max-height: 250px;
    }

    .blog-container-single {
        grid-template-columns: 1fr 1fr;
    }

    .blog-card-blog {
        grid-column: 2;
    }

}

    @media (min-width: 1300px) {

        .blog-card-main {
            min-width: 31.3%;
        }

        .blogs-sortselect {
            grid-template-columns: 1fr 1fr 1fr;
    
        }
    
        .search-bar {
            grid-column: 1;
        }
    }

    @media (min-width: 1700px) {

        .blog-card-main {
            min-width: 23%;
        }


    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
