/* Global values */

* {
    box-sizing: border-box;
}

:root {
    --yellow: #DEE208;

    /* CSS HEX */
    --dark-gray: #292d25;
    --gray: #5b645c;
    --black: #000000ff;
    --aureolin: #ECE90Eff;
    --jonquil: #FFD000ff;
    --crt-green: #0F0;
    

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Urbanist, Verdana, Geneva, Tahoma, sans-serif;
/*     background-image: url(/images/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-position: center; */
    background: black;
}

h1, h2 {
    font-family: Chakra Petch, Urbanist, Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer,
nav {
    background-color: var(--gray);
}

nav {
	display: block;
	border: 4px solid var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
	background-image: linear-gradient(rgb(41, 45, 37) 50%, rgb(46, 50, 41) 50%);
	background-size: auto 4px;
	border-radius: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
	padding: 10px;
	font-size: 2rem;
}

footer {
    margin-top: auto;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--crt-green);
}

.blog-card {
	display: grid;
	justify-items: center;
	border-radius: 25px;
	padding: 15px;
	overflow: hidden;
    border: 4px solid var(--crt-green);
    box-shadow: 0 0 10px var(--crt-green);
    background-image: linear-gradient(to bottom, #292d25 50%, #2e3229 50%);
    background-size: auto 4px;
}

.logo {
	grid-column: 2;
	justify-self: end;
}

.hamburger-icon {
	grid-row: 1;
	color: var(--crt-green);
    cursor: pointer;
}

main {
    margin: 10px;
}

nav {
	position: absolute;
	right: 10px;
	top: 60px;
    z-index: 3;
}

nav a {
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
}

.error {
    font-size: 75px;
    color: #fff;
}

.logo-main{
    width: 90px;
}


nav {
    display: none;
}


.loader {
border: 16px solid #5b645c;
border-top: 16px solid var(--crt-green);
border-radius: 50%;
width: 220px;
height: 220px;
animation: spin 2s linear infinite;
margin: auto;
}

/* Main page */

.pre-btn, .nxt-btn{
    display: none;
}

.blog-main {
    display: grid;
}

.blog-card-main {
	margin: 10px 1% 40px;
	align-content: baseline;
	max-height: 400px;
    grid-template-columns: 1fr 1fr;
}

.blog-card-main h2, .blog-card-main p {
    grid-column: 1/3;
}

.hover-effect {
    opacity: 0.6;
    transition: 0.7s ease;
}

.h1-main {
    text-align: center;
    color: #fff;
}

.main-welcome {
    color:#fff;
    font-size: 20px;
}

.last-posts-card {
    width: 80vw;
    align-self: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.last-posts {
	color: var(--crt-green);
	font-size: 40px;
	justify-self: center;
}

/* Blogs page */

.blog-card-blogs {
	margin: 10px 10px 40px;
}

.blog-card-blogs h2, .blog-card-blogs p {
    grid-column: 1/3;
}

#load-more-btn,
.submit-button {
	cursor: pointer;
	padding: 20px;
	border: 4px solid var(--crt-green);
	border-radius: 10px;
	background-color: var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
	font-family: Chakra Petch, Urbanist, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25px;
	font-weight: 700;
	margin: 10px;
}

#load-more-btn:hover,
.submit-button:hover {
    color: var(--crt-green);
    background-image: linear-gradient(to bottom, #292d25 50%, #2e3229 50%);
    background-size: auto 4px;
}

/* Blog page */

.blogs-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blog-card-blog {
	margin: 10px 20px 40px;
	position: relative;
	color: var(--crt-green);
	align-content: baseline;
}

.blog-container-single {
    display:grid;
    gap: 15px;
}

.blog-image {
	max-width: 100%;
	cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: auto;
  }
  
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 70vw;
	transform: translate(-50%,-50%);
	max-height: 65vh;
}
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }

/* Contact page */

.main-contact {
    display: grid;
    justify-content: center;
    justify-items: center;
}

label {
    color: #fff;
}

input {
    font-size: inherit;
}

form {
    display:flex;
    flex-direction:column;
}

form span {
	font-size: 20px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 4px solid var(--crt-green);
	box-shadow: 0 0 10px var(--crt-green);
	background-image: linear-gradient(to bottom, #292d25 50%, #2e3229 50%);
	background-size: auto 4px;
}

.input-style {
	border-radius: 10px;
	padding: 5px 5px 5px 5px;

}

.input-message {
	padding-bottom: 200px;
}

.form-error {
    display: none;
    color: red;
    background: #000000;
}

span label {
	color: #fff;
	display: inline-block;
	min-width: 95px;
	background-color: black;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

/* .submit-button {
	cursor: pointer;
	padding: 20px;
	border: 2px solid var(--aureolin);
	border-radius: 10px;
	background-color: var(--aureolin);
	font-family: Urbanist, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
    align-self: center;
} */

@media (min-width: 400px) {
    
    .input-style {
        padding: 5px 100px 5px 5px;
    }
}


@media (min-width: 700px) {

/*     header {
        display: flex;
        justify-content: space-between;
    } */

    nav {
        display: flex;
        position:static; 
    } 

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }

    
    .pre-btn,
    .nxt-btn {
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pre-btn {  
        background: transparent;
        margin-right: 20px;
      }
      
    .nxt-btn {
        right: 0;
        background: transparent;
        margin-left: 20px;
    }
    
    .pre-btn img,
    .nxt-btn img {
      height: 6rem;
      opacity: 0.7;
      transition: 0.3s ease;
    } 
    
    .pre-btn:hover img,
    .nxt-btn:hover img {
      opacity: 1;
    } 

    .blog-slider {
        position: relative;
        overflow: hidden;
        display: flex;
    }

    .blog-container {
        display: flex;
        overflow: hidden;
        border-radius: 10px;
    }

    .blog-card-main {
        min-width: 48%;
    }

    .blogs-container {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-card-blogs {
        max-width: 250px;
        max-height: 250px;
    }

    .blog-container-single {
        grid-template-columns: 1fr 1fr;
    }
}


    @media (min-width: 1300px) {

        .blog-card-main {
            min-width: 31.3%;
        }
    }

    @media (min-width: 1700px) {

        .blog-card-main {
            min-width: 23%;
        }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
